# -*- mode: gitignore; -*-

network-security.data

ido.last

auto-save-list
*.dat

.cache
.project-time.save.el
timelog

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/

# elpa packages
/elpa/

/url/
/irony/

/var/
/url/

/transient
/powerline
